body {
  font-family: 'roboto', sans-serif;

  margin: 0;
}

$main-color: rgba(153, 226, 208, 0.2);
$secondary-color: linear-gradient(360deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));


@keyframes fadein {
  0% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    position: absolute;
  }

  90% {
    opacity: 1;
    position: absolute;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    position: absolute;
  }

  100% {
    position: absolute;
    transform: rotate(360deg);
    display: none;
  }
}

.loader {
  position: relative;
  top: 50%;
  right: 35%;
  border-radius: 50%;

  width: 80px;
  height: 80px;
  animation: fadeout 3s linear;

  &::after {
    content: "";
    position: relative;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    border: 6px solid #99E2D0;
    border-color: #99E2D0 transparent #9356DC transparent;
    border-radius: 50%;
    animation: spin 3s linear;
  }
}


header,
main,
footer {
  animation-name: fadein;
  animation-duration: 3100ms;
}

.logo {
  font-family: 'Shrikhand', serif;
}

header {
  text-align: center;

  i {
    margin-right: 2%;
  }

  .localisation p {
    background-color: #E8E8E8;
    padding: 3%;
    box-shadow: inset 0 12px 6px -7px rgba(0, 0, 0, 0.4);
  }

  .localisation__book {
    text-align: center;
    background-color: $main-color;
    margin-top: -16px;
    padding: 8%;
  }

  a {
    text-decoration: none;
  }
}


.btn_explore {
  background-image: $secondary-color;
  ;
  margin: auto;
  margin-bottom: 10px;
  padding: 1em;
  transition: 0.5s;
  color: white;
  box-shadow: rgba(50, 50, 93, .25) 0px 2px 10px 0px;
  border-radius: 50px;
  width: 11em;

  &:hover {
    filter: brightness(1.1);
  }

  p {
    margin: 0;
  }
}


#tutorial {
  background-color: white;


  ol {
    list-style-type: none;
    counter-reset: compteur;
  }



  li {
    counter-increment: compteur;
    border-radius: 16px;
    box-shadow: 1px 4px 6px $main-color;
    padding: 5%;
    margin-top: 5%;
    margin-right: 7%;
    display: flex;
    font-weight: bold;
    background-color: #e8f9f5;

    &::before {
      content: counter(compteur);
      background-color: #9356dc;
      color: white;
      border-radius: 50%;
      width: 20px;
      padding: 1px;
      text-align: center;
      margin-left: -9%;
    }
  }

  i {
    margin-right: 20px;
    margin-left: 20px;
  }

  p {
    margin-bottom: 2px;
    margin-top: 0%;
  }

  .tutorial__number {
    color: white;
    border: 1px solid transparent;
    border-radius: 50%;

    background-color: #9356DC;
    padding: 1px 7px;
    text-align: center;
    margin-left: -6.5%;
    position: absolute;
  }

  .fa-store {
    color: #9356DC;
  }

}

input[type="checkbox"].heart1 {
  display: none;
}

input[type="checkbox"].heart1+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart1:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart2 {
  display: none;
}

input[type="checkbox"].heart2+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart2:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart3 {
  display: none;
}

input[type="checkbox"].heart3+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart3:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart4 {
  display: none;
}

input[type="checkbox"].heart4+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart4:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}


#restaurant {
  margin-top: 10%;
  background-color: $main-color;
  padding: 5%;
  margin-bottom: -8%;


  img {
    width: 100%;
    border-radius: 4% 4% 0 0;
    object-fit: cover;
    height: 11em;
    transition: object-position 500ms ease-out, -o-object-position 500ms ease-out;
  }

  .check {
    margin: 5% 1% 1% 1%;
  }

  .ville {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;

    .ville__resto {
      padding: 3%;
    }

    p,
    h3 {
      margin: 0;
    }
  }
}

.new {

  position: absolute;
  right: 10%;
  background-color: #99e2d0;
  border-radius: 3px;
  padding: 0.3em 0.8rem;
  color: #2c9c81;
  font-size: .9rem;
  font-weight: 700;
}


main {
  align-items: center;
  padding-bottom: 2%;

  h2 {
    margin-left: 4%;
    padding-top: 1%;
  }
}

.btn {
  border-radius: 13px;
  background-color: white;
  margin-bottom: 4%;

}

footer {
  background-color: #303030;
  color: white;

  .logo {
    margin-left: 9%;
    padding-top: 6%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    list-style-type: none;
    padding-bottom: 2%;
  }

  i {
    margin-left: 1px;
    width: 25px;
  }
}

.work {
  background-color: green;
}