body {
  font-family: 'roboto', sans-serif;
  max-width: 425px;
  margin: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    position: absolute;
  }

  90% {
    opacity: 1;
    position: absolute;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    position: absolute;
  }

  100% {
    position: absolute;
    transform: rotate(360deg);
    display: none;
  }
}

.loader {
  position: relative;
  top: 50%;
  right: 35%;
  border-radius: 50%;

  width: 80px;
  height: 80px;
  animation: fadeout 3s linear;

  &::after {
    content: "";
    position: relative;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    border: 6px solid #99E2D0;
    border-color: #99E2D0 transparent #9356DC transparent;
    border-radius: 50%;
    animation: spin 3s linear;
  }
}


.fa-store {
  color: #9356DC;
}

header,
main,
footer {
  animation-name: fadein;
  animation-duration: 3100ms;
}

.logo {
  font-family: 'Shrikhand', serif;
}

header {
  text-align: center;

  i {
    margin-right: 2%;
  }

  .localisation p {
    background-color: #E8E8E8;
    padding: 3%;
    box-shadow: inset 0 7px 6px -7px rgba(0, 0, 0, 0.4);
  }

  .book {
    text-align: center;
    background-color: rgba(153, 226, 208, 0.4);
    margin-top: -16px;
    padding: 8%;

    a {
      text-decoration: none;
    }
  }
}

.btn_explore {
  background-image: linear-gradient(360deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  ;
  margin: auto;
  margin-bottom: 10px;
  padding: 1em;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  width: 11em;

  &:hover {
    background-position: right center;
    text-decoration: none;
    filter: brightness(1.1);
    box-shadow: 1px 1px 15px black;
  }

  p {
    margin: 0;
  }
}


#tutorial {
  background-color: white;

  li {
    border-radius: 16px;
    box-shadow: 1px 4px 6px rgba(153, 226, 208, 0.4);
    padding: 5%;
    margin-top: 5%;
    margin-right: 12%;
    display: flex;
    font-weight: bold;
    background-color: #e8f9f5;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 6px 3px 3px rgba(153, 226, 208);
      background-color: rgba(147, 86, 220, 0.3);
    }
  }

  i {
    margin-right: 20px;
    margin-left: 10px;
  }

  p {
    margin-bottom: 2px;
    margin-top: 0%;
  }

  .number {
    color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 6.5%;
    background-color: #9356DC;
    padding: 0px;
    text-align: center;
    margin-left: -11%;
  }
}

input[type="checkbox"].heart1 {
  display: none;
}

input[type="checkbox"].heart1+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart1:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart2 {
  display: none;
}

input[type="checkbox"].heart2+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart2:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart3 {
  display: none;
}

input[type="checkbox"].heart3+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart3:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}

input[type="checkbox"].heart4 {
  display: none;
}

input[type="checkbox"].heart4+label::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-size: 1.2em;
  color: black;
  margin-right: 1.5rem;
  font-weight: 200;
}

input[type="checkbox"].heart4:checked+label::before {
  content: '\f004';
  color: #9356DC;
  font-weight: 900;
}


#restaurant {
  margin-top: 10%;
  background-color: rgba(153, 226, 208, 0.4);
  padding: 2%;
  margin-bottom: -8%;


  img {
    width: 100%;
    border-radius: 4% 4% 0 0;
    object-fit: cover;
    height: 11em;
  }

  .check {
    margin: 5% 1% 1% 1%;
  }
}

.ville {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;

  .ville__resto {
    padding: 1em;
  }

  p,
  h3 {
    margin: 0;
  }
}

main {
  align-items: center;
  padding-bottom: 2%;

  main h2 {
    margin-left: 4%;
    padding-top: 1%;
  }

  main i {
    transition: color 1s linear;
  }
}

.btn {
  border-radius: 13px;
  box-shadow: 3px 0px 3px #99E2D0;
  background-color: white;
  margin-bottom: 4%;

  &:hover {
    filter: brightness(1.1);
    box-shadow: 1px 1px 15px black;
  }
}

footer {
  background-color: #303030;
  color: white;

  .logo {
    margin-left: 9%;
    padding-top: 6%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    list-style-type: none;
    padding-bottom: 2%;
  }

  i {
    margin-left: 1px;
    width: 25px;
  }
}